In [1]:
import psycopg2
import pandas as pd

In [2]:
conn = psycopg2.connect(
    dbname="db_v2",
    user="verzochia",
    password="verzochia",
    host="localhost",
    port="5432"
)

In [6]:
conn = psycopg2.connect(
    dbname="db_v2",
    user="verzochia",
    password="verzochia",
    host="localhost",
    port="5432"
)

cur = conn.cursor()
cur.execute("""
        SELECT table_name, column_name
        FROM information_schema.columns
        WHERE table_schema = 'public'
    """)
tables_columns = cur.fetchall()

cur.close()
conn.close()

data = [(table, column) for table, column in tables_columns]

df = pd.DataFrame(data, columns=['Table', 'Colonnes'])
df

                  Table       Colonnes
0          data_emprunt      DtDebCouv
1          data_emprunt      DtFinCouv
2     fonction_chapitre             id
3     data_flux_croises           Exer
4    data_consolidation      MtCredOuv
..                  ...            ...
850   data_contrat_couv        TypCouv
851   data_contrat_couv   NatContrCouv
852   data_contrat_couv  LibOrgCoContr
853   data_contrat_couv  CodPeriodRemb
854   data_contrat_couv    IndexTxPaye

[855 rows x 2 columns]

In [12]:
df['Table'].drop_duplicates()

253                           anomalies
603                         bloc_budget
145          data_amortissement_methode
185                           data_apcp
322               data_autre_engagement
56                          data_charge
718                       data_concours
4                    data_consolidation
128                   data_contrat_couv
423         data_contrat_couv_reference
734                    data_credit_bail
842                          data_dette
689                        data_emprunt
225                   data_etab_service
286                      data_fiscalite
497                   data_flux_croises
476                 data_fond_aides_eco
456          data_fond_comm_hebergement
336                  data_fond_europeen
301    data_fond_europeen_programmation
330                      data_formation
360           data_formation_pro_jeunes
491                     data_membresasa
777                  data_organisme_eng
795                data_organisme_group
35                      data_patrimoine
822                      data_personnel
827                data_personnel_solde
235                            data_ppp
417                           data_pret
162                      data_provision
748               data_recette_affectee
431        data_service_ferroviaire_bud
281     data_service_ferroviaire_patrim
308        data_service_ferroviaire_ter
398                     data_signataire
209                      data_signature
500                       data_sommaire
729                          data_tiers
115                     data_tresorerie
837                    data_ventilation
572                 document_budgetaire
521                   fonction_chapitre
514                     fonction_compte
584               fonction_compte_mixte
532              fonction_referentielle
554                     nature_chapitre
549                       nature_compte
560                         transcodage
Name: Table, dtype: object

In [14]:
df = df.sort_values('Table')
df = df[(df['Colonnes'] != 'id') & 
    (~df['Table'].isin(['fonction_chapitre', 'fonction_referentielle',
                        'fonction_compte','nature_compte',
                        'nature_chapitre','transcodage','fonction_compte_mixte']))]
df

                   Table            Colonnes
253            anomalies        nb_fonctions
277            anomalies         pourcentage
502            anomalies          Id_Fichier
503            anomalies  fonctions_sans_ref
603          bloc_budget            Fonction
..                   ...                 ...
569  document_budgetaire         LibelleColl
76   document_budgetaire           RecFoncN2
564  document_budgetaire               Siren
571  document_budgetaire      LibelleEtabPal
565  document_budgetaire             CodColl

[743 rows x 2 columns]

In [9]:
df.to_csv('./liste_col_par_tables.csv')